@model RR.Web.Models.ReviewViewModel

@{
    Html.RenderPartial("_RestaurantDetail", Model.Restaurant);
}
@Html.ActionLink("Create Review", "Create", new { id = Model.Restaurant.Id })
<hr />
<div>
    @if (Model.Reviews == null || Model.Reviews.Count() == 0)
    {
        <span style="font-size:2em;">No reviews found.</span>
    }
    else
    {
        <h4>Reviews</h4>
        <hr />
        <table class="table">
            @Html.Partial("_ReviewTableHeader", new DataAccessLayer.Models.Review())

            @foreach (var review in Model.Reviews)
            {
                @Html.Partial("_ReviewDetail", review);
            }
        </table>
    }
</div>