@model IEnumerable<DataAccessLayer.Models.Restaurant>
@{
    /**/

    ViewBag.Title = "Restaurants";
}

<div>
    @Html.Partial("_TopThreeCarousel")
</div>

<br />
<form action="~/Restaurants/Search" method="get">
    <fieldset>
        <legend>Search for Restaurant</legend>
        Search by restaurant name: <input type="text" name="restaurant" /> <br />
        @Html.Label(" - OR - ") <br />
        Get restaurant by id: <input type="number" name="id" /> <br />
        <input type="submit" value="Submit" />
    </fieldset>
</form>
<br /><br />

<fieldset>
    <legend>New Restaurant?</legend>
    @Html.ActionLink("Create", "Create")
</fieldset>
<br /><br />

<fieldset>
    <legend></legend>
    @Html.ActionLink("All Restuarants", "List")
</fieldset>
<br /><br />

<!--
<p style="padding: -4px;border:2px solid red;">Word</p>
<p style="padding: -10px;border:2px solid red;">Word2</p>
<p>Paragraph <span style="padding:-100px;border:2px solid red;">word</span> 1</p>
-->
